<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New appointment</h1>
    <p>
      Your next appointment will be at <%= @slot.start_time %> until <%= @slot.end_time %> on <%= @slot.day_of_week %>.
    </p>
  </body>
</html>